# Dependências locais
lib/

# Arquivos compilados
*.class
bin/
out/
build/
target/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/
!.settings/
.settings/*
!.settings/org.eclipse.core.resources.prefs

# Sistema operacional
.DS_Store
Thumbs.db
